# === BREC-relevant Data ===
*.npy
*.pyc
*.pt
log.txt
log.*.txt
result_show.txt
!4vtx.npy
!basic.npy
!cfi.npy
!dr.npy
!extension.npy
!regular.npy
!str.npy
!brec_nonGNN.npy
!DropGNN/num_node.npy

# === VSCode & PyCharm / IntelliJ ===
.vscode/
.idea/
*.iml

# === experimental folders ===
new_*_BREC_v3_*/

# === Python Build ===
__pycache__/
*.__pycache__/
*.py[cod]
*.so

# === Virtualenvs ===
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
brec-env/

# === Build/Dist Packaging ===
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# === Installer Logs ===
pip-log.txt
pip-delete-this-directory.txt

# === PyInstaller ===
*.manifest
*.spec

# === Test / Coverage ===
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# === Typing Tools ===
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# === Translations ===
*.mo
*.pot

# === Editors & IDEs ===
*.log
*.bak
*.swp
*.swo

# === Datensätze / Ausgaben ===
*.csv
*.tsv
*.jsonl

# === SQLite / Flask / Scrapy ===
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.scrapy

# === Sphinx / MkDocs Docs ===
docs/_build/
site/

# === Jupyter Notebooks ===
*.ipynb
.ipynb_checkpoints/

# === IPython ===
profile_default/
ipython_config.py

# === Celery / SageMath / Cython ===
celerybeat-schedule
celerybeat.pid
*.sage.py
cython_debug/

# === Rope / Spyder / PyBuilder ===
.ropeproject/
.spyderproject/
.spyproject/
.pybuilder/
target/

# === Merge conflicts ===
*.orig

# === Laufzeitdaten & Experimente ===
utils/runs/*
test_results/
